*
{
  box-sizing: border-box !important;
}
.company-logo
{
  width: 200px;
  height: 80px;
}
.profile-logo
{
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
}

.bg-easify
{
  background-color: #795ec9;
}
.text-easify
{
  color: #795ec9;
}

.active-list-item,.list-item:hover {
  background-color: #795ec9;
  cursor: pointer;
  color:white;
  border-radius:10px;         
}

.bg-pending
{
  background-color: #f29339;
}

.bg-emailsend
{
  background-color: #007bff;
}
table tr:nth-child(odd) {
  background-color: #7d5dc817 !important;
}
table tr:nth-child(even) {
  background-color: white !important;
}
table thead
{
  background-color: white !important;
}
#bg-white
{
  background-color: white  !important;
}

.searchbox,.searchbox:focus-visible
{
  outline: none;
  padding-left: 20px;
}